<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
     <h2 class="active"> S'identifier </h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="./assets/img/logo/pp-removebg-preview.png" width="10px" height="200px" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      
      <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                    <label for="login"><b>Login</b></label>
                    <input pInputText id="login" type="text" [ngClass]="{ 'is-invalid': submitted && login.errors}" formControlName="login"  class="form-control fadeIn second" name="login" >
                    <div *ngIf="submitted && login.errors" class="invalid-feedback">
                      <div *ngIf="login.errors.required">* Login est obligatoire</div>
                </div>
                    <label for="password"><b>Password</b></label>
                    <input pInputText id="password" type="password"  class="form-control fadeIn third" [ngClass]="{ 'is-invalid': submitted && password.errors}" formControlName="password">
                    <div *ngIf="submitted && password.errors" class="invalid-feedback">
                      <div *ngIf="password.errors.required">* Password est obligatoire</div>
                </div>
                <button type="submit"label="Login" class="fadeIn fourth" >Login</button>
  </form>
</div>
</div>