<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">My Profile</h4>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                             
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username" name="login" [(ngModel)]="userInfo.login" disabled="true" >
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email address" type="text" name="email" [(ngModel)]="userInfo.email" disabled="true"  >
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nom " type="text" name="nom" [(ngModel)]="userInfo.nom" disabled="true">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Prenom " type="text" name="prenom" [(ngModel)]="userInfo.prenom" disabled="true">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Date De Naissance " type="text" name="dateDeNaissance" [ngModel]="userInfo.dateDeNaissance | date:'dd-MM-yyyy'" disabled="true">
                                </mat-form-field>
                              </div>
                          </div>
                        
              
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
